.navbar {
  justify-content: flex-end !important;
}

.h1 {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: normal;
}

.highlight {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 650;
}

.logoContainer {
  margin-bottom: 0.25rem;
}

.sampleLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border-radius: 100% !important;
}

.sampleLogoImage {
  height: 1.75rem;
  width: 1.75rem;
  color: grey;
}

.h2 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 650;
}

.checklistItem {
  padding: 1rem;
  display: flex;
  width: 100%;
}

.checklistBody {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.checklistIcon {
  color: var(--text-color-primary);
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}