.container {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  text-decoration: none;
  width: 100%;
}

.logo {
  margin-right: 1rem;
}

.body {
  line-height: 1.3rem;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

.link {
  font-size: 0.9rem;
  color: var(--text-color-light);
}

.chevronContainer {
  margin-right: 1rem;
  margin-left: auto;
}

.chevron {
  color: var(--text-color-primary);
  font-size: 1rem;
}
