.container {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
  text-decoration: none;
  width: 100%;
}

.logo {
  margin-right: 1rem;
}

.body {
  line-height: 1.3rem;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

.link {
  font-size: 0.9rem;
  color: var(--text-color-light);
}

.badge {
  background-color: #D5F5E3;
  color: #28B463;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.6rem;
  font-weight: 600;
  width: 4rem;
  margin-left: auto;
  text-align: center;
}

.chevronContainer {
  margin-right: 1rem;
  margin-left: auto;
}

.chevron {
  color: var(--text-color-primary);
  font-size: 1rem;
}
