.container {
  display: flex;
  flex-direction: column;
  /* changes these to rem */
  height: 608px;
  width: 360px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-card);
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
}

.logo {
  height: 1.6rem;
  width: auto;
  padding: 1rem;
  box-sizing: content-box;
}

.icon {
  color: var(--text-color-primary);
  /* font-size: 1.2rem; */
  width: 1.25rem;
  height: 1.25rem;
  padding: 1rem;
  cursor: pointer;
}

.iconContainer {
  background-color: var(--color-card);
  border: none;
  cursor: pointer;
  padding: 0;
}