.institutionsContainer {
  overflow: hidden auto;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.header {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 650;
  padding: 0 1.5rem 0.5rem;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  text-decoration: underline;
  margin: 1rem;
}
