.logoContainer {
  align-self: flex-start;
  margin-bottom: 1rem;
}

.h1 {
  align-self: flex-start;
  text-align: left;
}

.text {
  padding-bottom: 0.5rem;
  color: var(--text-color-light);
}

.errorText {
  color: var(--color-danger);
}

.inputField {
  width: 100%;
  height: 3rem;
  margin: 0.25rem;
  padding: 0 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: var(--border-radius);
}

.inputField:focus {
  outline: none;
  border-color: #a485f9;
  box-shadow: 0 0 0 0.2rem rgba(164, 133, 249, 0.25);
}

::placeholder {
  text-align: left;
  /* text-align: center; */
  font-size: 1rem;
  color: var(--text-color-light);
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-weight: normal;
}

.errorContainer {
  align-self: start;
  display: flex;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.errorIcon {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.errorIcon > path {
  color: var(--color-danger);
}
