.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: var(--border-radius);
}

.header {
  /* text-align: center; */
  align-self: flex-start;
  padding: 0;
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 650;
}

.text {
  text-align: left;
  font-size: 0.9rem;
  /* align-self: flex-start; */
  padding: 0;
  padding-bottom: 0.5rem;
  color: var(--text-color-light);
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-weight: normal;
}
