@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;650;700&display=swap");

:root {
  --color-primary: #6936F5;
  --color-border: #ededed;
  --text-color-primary: #333;
  --text-color-light: #777;
  --border-radius: 8px;
}

/* base styles */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat";
  color: var(--text-color-primary);
}

body {
  background-color: rgba(144, 144, 144, 0.98);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
}

.card {
  display: flex;
  flex-direction: column;
  /* fix these */
  height: 608px;
  width: 360px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  background-color: white;
  overflow: hidden;
}

.h1 {
  text-align: center;
  /* align-self: flex-start; */
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 650;
}

/* double underscore for name? */
.navbarIcon {
  color: var(--text-color-primary);
  /* font-size: 1.2rem; */
  width: 1.25rem;
  height: 1.25rem;
  padding: 1rem;
  cursor: pointer;
}

.inputField {
  width: 100%;
  height: 3rem;
  margin: 0.25rem;
  padding: 0 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: var(--border-radius);
}

.inputField:focus {
  outline: none;
  border-color: #a485f9;
  box-shadow: 0 0 0 0.2rem rgba(164, 133, 249, .25);
}

::placeholder {
  text-align: left;
  /* text-align: center; */
  font-size: 1rem;
  color: var(--text-color-light);
}

/* .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
} */

/* double underscore for name? */
.button {
  background: var(--color-primary);
  /* the margins get added when you do flex (as opposed to the max being taken) */
  width: 100%;
  height: 3rem;
  margin: 1rem;
  /* margin-bottom: 0; */
  border: 0;
  border-radius: 2rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  /* for the text */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
}

.checkmark {
  margin-bottom: 1rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  color: var(--text-color-primary);
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
}